{% comment %} {% form 'contact' %}
<div id="contactFormWrapper">
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label for="contactFormName">{{ 'sections.contact_form.name' | t }}</label>
      <input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'sections.contact_form.name' | t }}" />
    </p>
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label for="contactFormEmail">{{ 'sections.contact_form.email' | t }}</label>
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'sections.contact_form.email' | t }}" />
    </p>
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label for="contactFormTelephone">{{ 'sections.contact_form.phone' | t }}</label>
      <input type="text" id="contactFormTelephone" name="contact[phone]" placeholder="{{ 'sections.contact_form.phone' | t }}" />
    </p>
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label for="contactFormMessage">{{ 'sections.contact_form.message' | t }}</label>
      <textarea rows="15" cols="90" id="contactFormMessage" name="contact[body]" placeholder="{{ 'sections.contact_form.message' | t }}"></textarea>
    </p>
    <p>
      <input type="submit" id="contactFormSubmit" class="secondary button" value="{{ 'sections.contact_form.send' | t }}" />
    </p>
  </div>
</div>

<div class="clear"></div>


{% if form.posted_successfully? %}
<div class="successForm feedback">
  <p>{{ 'sections.contact_form.post_success' | t }}</p>
</div>
{% endif %}

{% if form.errors %}
<div class="errorForm feedback">
  <p>{{ 'general.forms.post_error' | t }}</p>
</div>
{% endif %}

{% endform %}

<div class="clear"></div>
 {% endcomment %}
 <div class="container">  
  <form id="contact" action="" method="post">
    <h3>Colorlib Contact Form</h3>
    <h4>Contact us for custom quote</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p>
  </form>
</div>