{% assign sectionId = section.id %}
<div class="main-section-slider" id="{{ sectionId }}">
  <div class="section-cls">
     {%- liquid
  assign sett_title = section.settings.heading
  assign style_title = section.settings.style_title -%}
{%- if sett_title != blank -%}
	{%- if style_title != 'title_10' -%}
		<div class="wrap_title {{section_title}} des_{{style_title}} sub_title_size_{{section.settings.sub_title | size}}">
		<h3 class="section-title tc pr flex fl_center al_center fs__24 {{style_title}}"><span class="mr__10 ml__10 slidehead">{{sett_title}}</span></h3>
		<span class="dn tt_divider"><span></span><i class="dn clpr{{section.settings.show_clpr}} {{style_title |split:'+' | last }} la-{{section.settings.ic_tt}}"></i><span></span></span><span class="section-subtitle db tc{% if section.settings.sub_font == '2' %} sub-title{% endif %}">{{section.settings.sub_title}}</span>
		</div>
	{%- else -%}
	    <div class="row al_center fl_center title_10 {{section_title}} sub_title_size_{{section.settings.sub_title | size}}">
	      <div class="col-auto col-md"><h3 class="dib tc section-title fs__24">{{sett_title}}</h3></div>
	      <div class="col-auto"><a href="{{url|default:'/'}}">{{section.settings.btn_title}}</a></div>
	    </div>
	{%- endif -%}
{%- endif -%}
    <h4 class="cls-Subhead">{{ section.settings.subheading }}</h4>
    <div class="slider-section">
      <div id="micro-slider-{{ sectionId }}" class="micro-slider-main">
        <section>
          <div class="micro-slider">
            {% for block in section.blocks %}
            <div class="slider-item" style="background-image: url({{ block.settings.image | img_url: 'master' }})">
             <h3 class="head-cls"> {{ block.settings.heading }} </h3>
            </div>
            
            {% endfor %}
          </div>
        </section>
      </div>

    </div>
  </div>
</div>



{% schema %}
{
"name": "Custom Slider",
"settings": [
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "subheading",
"type" : "text",
"label" : "Sub Heading"
},
{
"id" : "image",
"type" : "image_picker",
"label" : "Image"
},
  {
        "type": "select",
        "id": "style_title",
        "options": [
         {
            "value": "title_1",
            "label": "Design 1"
         },
         {
            "value": "title_2",
            "label": "Design 2"
          },
         {
            "value": "title_3",
            "label": "Design 3"
          },
         {
            "value": "title_4",
            "label": "Design 4"
          },
         {
            "value": "title_5 lazyload",
            "label": "Design 5"
          },
         {
            "value": "title_6",
            "label": "Design 6"
          },
         {
            "value": "title_7 +la",
            "label": "Design 7 (with line-awesome)"
          },
         {
            "value": "title_8",
            "label": "Design 8"
          },
         {
            "value": "title_9",
            "label": "Design 9"
          },
         {
            "value": "title_10",
            "label": "Design 10"
          },
         {
            "value": "title_11",
            "label": "Design 11"
          },
         {
            "value": "title_12",
            "label": "Design 12"
          },
         {
            "value": "title_13",
            "label": "Design 13"
          }
        ],
        "label": "Design Title:"
      }
],
"blocks" : [
{
"name" : "block",
"type" : "block",
"settings" : [
{
"id" : "image",
"type" : "image_picker",
"label" : "Image"
},
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
}
]
}
],
"presets" : [
{
"name" : "Custom Slider"
}
]
}
{% endschema %}

<style>

  h3.head-cls{
    color: black !important;
    text-align: center;
    margin-top: 32%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    opacity: 1;
    font-weight: 500;
  }
  .cls-head {
    font-size: 36px !important;
    letter-spacing: .05em !important;
    font-weight: 700 !important;
    color: #000 !important;
    font-family: Poppins,sans-serif,Arial,"sans-serif" !important;
    text-align: center !important;
    margin: 0 !important;
    margin-bottom: 1% !important;
  }
  .main-section-slider{
/*     background-image: url({{ section.settings.image | img_url: 'master'}}); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 10px 20px;
  }
  .cls-Subhead{
  	text-align: center;
    width: 50%;
    margin: auto;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: normal;
    color: #242424;
    font-family: Poppins,sans-serif,Arial,"sans-serif";
    font-weight: 100;
  }
  .section-cls{
    margin-top: -1%;
  }
  .section-cls .slider-section{
    margin-top: -1%;
  }
  span.mr__10.ml__10.slidehead {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}
  /* CSS START BY SLIDER */

  .micro-slider section {
    padding-bottom: 192px;
    overflow: hidden;
    position: relative;
  }
  .micro-slider {
    height: 480px;
    margin: 10px 0;
    position: relative;
    width: 100%;
  }
  .micro-slider.slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
  }
  .slider-item {
/*     border-radius: 8px; */
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    color: #FFF;
    display: none;
    font-size: 72px;
    padding-top: 300px;
    line-height: 320px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slider-item:not(.active) {cursor: pointer;}

  /* CSS END BY SLIDER */
 .slider-wrapper .slider-item.active {
    height: 400px !important;
}
  .slider-item{
  	    height: 400px !important;
  }
  .slider-wrapper .slider-item.active::before{
  	content: "";
/*     background-color: rgba(33,33,33,1); */
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 10px;
  }
  .slider-wrapper .active .head-cls{
  	opacity: 0.9;
  }
  .indicator{
    display: none;
  }
</style>

<script>
  $( ".micro-slider-main" ).each(function( index ) {
    var mainId = $(this).attr('id');
    document.addEventListener('DOMContentLoaded', () => {
    //===== MICRO-SLIDER begin
    const __ms = document.querySelector('#'+mainId+' .micro-slider');
    const __msSlider = new MicroSlider(__ms, { indicators: true, indicatorText: '' });
    const __hammer = new Hammer(__ms);
    let __msTimer = 2000;
    let __msAutoplay;

    //set autoplay
    __msAutoplay = setInterval(() => __msSlider.next(), __msTimer);
    //detect mouseenter event
    __ms.onmouseenter = function(e) {
      clearInterval(__msAutoplay); 
      console.log(e.type + ' mouse detected');
    }
    //detect mouseleave event
    __ms.onmouseleave = function(e) {
      __msAutoplay = setInterval(() => __msSlider.next(), __msTimer);
      console.log(e.type + ' mouse detected');
    }
    //detect gesture tap event with hammer js library
    hammer.on('tap', function(e) {
      clearInterval(__msAutoplay);
      console.log(e.type + ' gesture detected');
    });
    //detect gesture swipe event with hammer js library
    hammer.on('swipe', function(e) {
      __msAutoplay = setInterval(() => __msSlider.next(), __msTimer);
      console.log(e.type + ' gesture detected');
    });
    //===== MICRO-SLIDER end
    });
  });
</script>
