{%- liquid

  assign section_space = section.settings.section_space
  assign section_space_class = ''

  if section_space == 'top'
    assign section_space_class = ' pb0'
  elsif section_space == 'bottom'
    assign section_space_class = ' mt0'
  elsif section_space == 'none'
    assign section_space_class = ' mt0 pb0'
  endif

  case section.blocks.size
    when 1
      assign image_size = '900x'
      assign column_width = 'span-8 push-2 sm-span-12 auto'
    when 2
      assign image_size = '800x'
      assign column_width = 'span-6 sm-span-12 auto'
    when 3
      assign image_size = '500x'
      assign column_width = 'span-4 sm-span-12 auto'
  endcase

-%}

<section class="imageText__column-section section-{{ section.id }} global__section{{ section_space_class }}" data-section-id="{{ section.id }}">

    {% if section.settings.title != blank %}
    <div class="section-title {% if settings.section_titles == 'lines' %}lines {% elsif settings.section_titles == 'btm_border' %}btm_border {% endif %} text-center"><h2>{{ section.settings.title | escape }}</h2></div>
    {% endif %}
  <div class="row display_block_desktop grid__wrapper">

    {% for block in section.blocks %}
      {%- assign img_url = block.settings.image | img_url: image_size -%}
      <div class="imageText__column-container{% if section.settings.center_align %} center{% endif %} {{ column_width }} mobile-3 text-promo-{{ block.id }}" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          {% if block.settings.image != blank %}
          <div class="imageText__column-image">
            {% render 'basic-responsive-image', type: block.settings.image, data_widths: '[180, 360, 540, 720, 900, 1080, 1296]' %}
            <noscript>
              <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
            </noscript>
          </div>
          {% else %}
            <div class="onboard">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        {% if block.settings.link != blank %}</a>{% endif %}
        <div class="imageText__column-caption">
          {% if block.settings.title_text != blank %}
            <h3>{{ block.settings.title_text | escape }}</h3>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte">
              {{ block.settings.text }}
            </div>
          {% endif %}
          {% if block.settings.link != blank %}
            <div class="imageText__column-btn-wrapper">
              <a href="{{ block.settings.link }}">{{ block.settings.button_text | escape }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>


  {% if section.blocks.size == 0 %}
    {% render 'no-blocks' %}
  {% endif %}

</section>

<div class="clear"></div>

  <div class="imgwithslider display_block_mobile">  
         <div class="row grid__wrapper">

    {% for block in section.blocks %}
      {%- assign img_url = block.settings.image | img_url: image_size -%}
      <div class="imageText__column-container{% if section.settings.center_align %} center{% endif %} {{ column_width }} mobile-3 text-promo-{{ block.id }}" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          {% if block.settings.image != blank %}
          <div class="imageText__column-image">
            {% render 'basic-responsive-image', type: block.settings.image, data_widths: '[180, 360, 540, 720, 900, 1080, 1296]' %}
            <noscript>
              <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
            </noscript>
          </div>
          {% else %}
            <div class="onboard">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        {% if block.settings.link != blank %}</a>{% endif %}
        <div class="imageText__column-caption">
          {% if block.settings.title_text != blank %}
            <h3>{{ block.settings.title_text | escape }}</h3>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte">
              {{ block.settings.text }}
            </div>
          {% endif %}
          {% if block.settings.link != blank %}
            <div class="imageText__column-btn-wrapper">
              <a href="{{ block.settings.link }}">{{ block.settings.button_text | escape }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
{% schema %}
{
  "name": "Editorial columns",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Editorial column"
    },
    {
      "type": "checkbox",
      "id": "center_align",
      "label": "Center align text",
      "default": false
    },
    {
      "type": "select",
      "id": "section_space",
      "label": "Section spacing",
      "default": "top_and_bottom",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "top_and_bottom",
          "label": "Top and bottom"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "800px x 800px recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "title_text",
          "label": "Heading",
          "default": "Our collections"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add text with images to give and content and editorial feel. Drive traffic to key areas of your store</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button",
          "default": "Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Editorial columns",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "templates": [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search"
  ]
}
{% endschema %}
{% stylesheet %}
      .parterslideimg img {
        width: 80%;
    }

      .slidim{
    width:100%;
        height: 100%;
      }
      .withflex{
        display:flex;
        justify-content:space-evenly;
      }
      .width-45{
        width:47%
      }
         .imgwithblock .slick-track{
        padding: 10px 0;
      }
      .imgwithblock .slick-next:before {
        display: none;
    }
      .imgwithblock .slick-prev:before {
    display: none;
    }
      .imgwithblock ul.slick-dots {
        display: none !important;
    }
      .imgwithblock button.drag.dogarrow2.slick-next.pull-right.slick-arrow {
        top: 45%;
        right: -1%;
        background: #3a3a3b8c;
        padding: 3px 15px;
        border-radius: 50%;
        border: unset;
            position: absolute;
        z-index: 1;

    }
      .imgwithblock button.drag.dogarrow1.slick-prev.pull-left.slick-arrow {
        top: 45%;
        left: -1%;
        background: #3a3a3b8c;
        padding: 3px 15px;
        border-radius: 50%;
        border: unset;
            position: absolute;
        z-index: 1;
    }
    .withflex .block1 {
        box-shadow:unset;

    }
               .imgwithblock .block1 {
                  width: 21%;
                 margin: 0 5px;
              }
    .parterslideimg img{
      margin-left:auto;
      margin-right:auto;
    }
      @media screen and (max-width:768px) {
    .width-45{
       width:100%;
    }
        .withflex{
          display:flex;
          flex-wrap:wrap;
        }

    }
      span.fa.fa-star.checked {
        color: #fed35e;
      font-size: 20px;
    }
      i.fa.fa-quote-right {
        color: #fed35e;
    }
      i.fa.fa-quote-right {
        font-size: 60px;
    }
      .reviestep {
    /     max-width: 50%; /
  /           margin: 0 15px; /

    }
     .ratinconain {
        max-width: 95%;
        display: flex;
        / flex-wrap: wrap; /
        margin: auto;
    }

      .customerdetail {
          text-align: center;
           padding: 10% 7%;
        border: 1px solid #fed35e;
        border-radius: 15px;
      }
          h1.confirmedetail {
        margin-top: 25px;
              font-size: calc((100vw - 1440px) * (40 - 32) / (2560 - 1440) + 15px);
          max-width: 90%;
          margin: auto;
            padding-bottom: 10px;
                font-weight: 400;
          line-height: 1.5;
          color: #999;
      }
          .customerdetail p {
          font-size: 14px;
          text-transform: uppercase;
          text-align: center;
          color: #fed35e;
      }
          .buttondiv{
                text-align: center;
            padding-top: 4%;
          }
      .buttondiv a{
          border: 1px solid #1229471f;
          padding: 15px 20px;
          font-size: 12px;
            letter-spacing: 1px;

      }
    /*   .customreviewside {
          padding-bottom: 5%;
      } */
          .buttondiv a:hover {
          background-color: #283953;
          color: #fff;
          transform: translateY(-1px);
      }
      .customercontainer {
          background-color: #000000;
            margin-top: 5%;
      }
      	.slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent; }

      .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0; }
        .slick-list:focus {
          outline: none; }
        .slick-list.dragging {
          cursor: pointer;
          cursor: hand; }

      .slick-slider .slick-track,
      .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }

      .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block; }
        .slick-track:before, .slick-track:after {
          content: "";
          display: table; }
        .slick-track:after {
          clear: both; }
        .slick-loading .slick-track {
          visibility: hidden; }

      .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        display: none; }
        [dir="rtl"] .slick-slide {
          float: right; }
        .slick-slide img {
          display: block; }
        .slick-slide.slick-loading img {
          display: none; }
        .slick-slide.dragging img {
          pointer-events: none; }
        .slick-initialized .slick-slide {
          display: block; }
        .slick-loading .slick-slide {
          visibility: hidden; }
        .slick-vertical .slick-slide {
          display: block;
          height: auto;
          border: 1px solid transparent; }

      .slick-arrow.slick-hidden {
        display: none; }

      /*================ Slick Slider Theme ================*/
      .slick-loading .slick-list {
        background: #fff var(--slick-img-url) center center no-repeat; }

      / Icons /
      / Arrows /
      .slick-prev,
      .slick-next {
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none; }
        .slick-prev:hover, .slick-prev:focus,
        .slick-next:hover,
        .slick-next:focus {
          background: transparent;
          color: transparent; }
          .slick-prev:hover:before, .slick-prev:focus:before,
          .slick-next:hover:before,
          .slick-next:focus:before {
            opacity: 1; }
        .slick-prev.slick-disabled:before,
        .slick-next.slick-disabled:before {
          opacity: 0.25; }
        .slick-prev:before,
        .slick-next:before {
          font-family: "slick-icons, sans-serif";
          font-size: 20px;
          line-height: 1;
          color: #000;
          opacity: 0.75;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }

      .slick-prev {
        left: -2%; }
        [dir="rtl"] .slick-prev {
          left: auto;
          right: -25px; }

      .slick-next {
        right: -2%; }
        [dir="rtl"] .slick-next {
          left: -25px;

          right: auto; }

      / Dots /
      .slick-dotted.slick-slider {
        margin-bottom: 30px; }

      .slick-dots {
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0; }
        .slick-dots li {
          position: relative;
          display: inline-block;
          height: 20px;
          width: 20px;
          margin: 0 5px;
          padding: 0;
          cursor: pointer; }
          .slick-dots li button, .slick-dots li a {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer; }
            .slick-dots li button:hover:before, .slick-dots li button:focus:before, .slick-dots li a:hover:before, .slick-dots li a:focus:before {
              opacity: 1; }
            .slick-dots li button:before, .slick-dots li a:before {
              position: absolute;
              top: -20px;
              left: 0;
              content: "•";
              width: 20px;
              height: 20px;
              font-family: "slick-icons, sans-serif";
              font-size: 30px;
              line-height: 20px;
              text-align: center;
              color: #000;
              opacity: 0.25;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale; }
          .slick-dots li.slick-active button:before {
            color: #000;
            opacity: 0.75; }
      .multipleitems .slick-prev:before {
          content: "";

      }
          .multipleitems .slick-next:before {
          content: "";

      }
          .multipleitems .slick-next{
                  top: 38%;
          }
          .multipleitems .slick-prev{
            top: 39%;
          }

          .drag {
          font-size: 30px;
                position: absolute;
      }
          .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
          background: transparent;
          color: #fff;
      }
    .display_block_mobile{
   display: none !important;
  }
        @media(max-width:1049px){
          h1.confirmedetail{
            font-size: 16px;
          }
    }
        @media(max-width: 767px){
    .component-review-carousel .carousel-container .carousel-item .quote {
        font-size: calc((100vw - 360px) * (28 - 24) / (767 - 360) + 24px);
    }
          .multipleitems .slick-prev {
        top: 70%;
    }
          .multipleitems .slick-next {
        top: 70%;
    }
          .slick-prev {
        left: 30px;
    }
          .slick-next {
        right: 30px;
    }
          h1.confirmedetail{
            max-width: 90%;

          }
          .ratinconain {
        max-width: 90%;}
           .display_block_desktop{
    display:none;
  }
              .display_block_mobile{
   display: block !important;
  }
        }
{% endstylesheet %}
<script>
    $('.imgwithslider').slick({
      arrows: true,
       dots: false,
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
      speed: 2500,
       autoplay: false,
      prevArrow:"<button type='button' class='drag dogarrow1 slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
              nextArrow:"<button type='button' class='drag dogarrow2  slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",

  });
</script>
