<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

<div class="video-slider">
  <div class="container016">
    <div class="video-carasol videoslid">
      {% for block in section.blocks %}
        <div class="mainslider">
          <div class="mainvideo">
            <figure>
              <video class="bgv" id="video" muted loop autoplay>
                <source src="{{ block.settings.video_url }}" type="video/mp4">
              </video>
            </figure>
            {%- assign product = block.settings.product -%}
            <a href="{{ product.url }}">
              <div class="prodiv">
                <img src="{{ product.featured_image| img_url: '200x200' }}">
                <h2>{{ product.title }}</h2>
                <h3>Rs.{{ product.price }}</h3>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [

    ],
        "blocks":[
  {
  "name":"block",
  "type":"block",
  "settings":[
        {
      "id" : "video_url",
      "type" : "text",
      "label" : "Video link"
    },
    {
          "type": "product",
          "id": "product",
          "label": " Product "
        }
  ]
  }
  ],
    "presets": [
  {
    "name": "new video section"
  }
]
  }
{% endschema %}

{% stylesheet %}
        .mainvideo {
          box-shadow: 0px 0px 10px #00000026 !important;
          border-radius: 10px;
      }
          .mainslider {
                margin: 0 10px;
          }
              .prodiv {
                position: relative;
                min-height: 70px;
                padding: 0 15px;
            }
      .video-slider {
        padding: 3% 0;
    }
               .prodiv img {
                  width: 50px;
                  height: 50px;
                  /* margin: auto; */
                  position: absolute;
                top: -50px;
                  left: 15px;
                  object-fit: cover;
                  border-radius: 8px;
                  z-index: 99;
              }
            .prodiv h2 {
              font-size: 13px;

              margin-top: 10px;
          }
              .prodiv h3 {
              font-size: 12px;
          }
  /*.square {
                      padding: 14px;
                      border-radius: 4px;
                      width: 160px;
                      height: 160px;
                    }
                  .circle {
                    border-radius: 100% !important;
                  }
                  .moon {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    box-shadow: 15px 15px 0 0 black;
                  }
                  .red {
                    background: #FF5551 !important;
                  }
                  .yellow {
                    background: #FFFF43 !important;
                  }
                  .green {
                    background: #A6F140 !important;
                  } */


              .video-slider{
                margin-top: 40px;
              }
              .slick-slider {
                position: relative;
                display: block;
                box-sizing: border-box;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -ms-touch-action: pan-y;
                touch-action: pan-y;
                -webkit-tap-highlight-color: transparent; }

              .slick-list {
                position: relative;
                overflow: visible;
                display: block;
                margin: 0;
                padding: 0; }
                .slick-list:focus {
                  outline: none; }
                .slick-list.dragging {
                  cursor: pointer;
                  cursor: hand; }

              .slick-slider .slick-track,
              .slick-slider .slick-list {
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }

              .slick-track {
                position: relative;
                left: 0;
                top: 0;
                display: block; }
                .slick-track:before, .slick-track:after {
                  content: "";
                  display: table; }
                .slick-track:after {
                  clear: both; }
                .slick-loading .slick-track {
                  visibility: hidden; }

              .slick-slide {
                float: left;
                height: 100%;
                min-height: 1px;
                display: none; }
                [dir="rtl"] .slick-slide {
                  float: right; }
                .slick-slide img {
                  display: block; }
                .slick-slide.slick-loading img {
                  display: none; }
                .slick-slide.dragging img {
                  pointer-events: none; }
                .slick-initialized .slick-slide {
                  display: block; }
                .slick-loading .slick-slide {
                  visibility: hidden; }
                .slick-vertical .slick-slide {
                  display: block;
                  height: auto;
                  border: 1px solid transparent; }

              .slick-arrow.slick-hidden {
                display: none; }

              /*================ Slick Slider Theme ================*/
              .slick-loading .slick-list {
                background: #fff var(--slick-img-url) center center no-repeat; }

              / Icons /
              / Arrows /
              .slick-prev,
              .slick-next {
                position: absolute;
                display: block;
                height: 20px;
                width: 20px;
                line-height: 0px;
                font-size: 0px;
                cursor: pointer;
                background: transparent;
                color: transparent;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                padding: 0;
                border: none; }
                /* .slick-prev:hover, .slick-prev:focus,
                .slick-next:hover,
                .slick-next:focus {
                  background: transparent;
                  color: black; } */
                  .slick-prev:hover:before, .slick-prev:focus:before,
                  .slick-next:hover:before,
                  .slick-next:focus:before {
                    opacity: 1; }
                .slick-prev.slick-disabled:before,
                .slick-next.slick-disabled:before {
                  opacity: 0.25; }
                .slick-prev:before,
                .slick-next:before {
                  font-family: "slick-icons, sans-serif";
                  font-size: 20px;
                  line-height: 1;
                  color: #000;
                  opacity: 0.75;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale; }
                  button.drag.dogarrow1.slick-prev.pull-left.slick-arrow {
                    background: #00000042;
                    color: white;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    border: navajowhite;
                    font-size: 22px;
                    position: absolute;
                  top: 50%;
                  left: 0;
                  bottom: 0;
                  z-index: 1;
                }
                button.drag.dogarrow2.slick-next.pull-right.slick-arrow {
                  background: #00000042;
                  color: white;
                  width: 45px;
                  height: 45px;
                  border-radius: 50%;
                  border: navajowhite;
                  font-size: 22px;
                  position: absolute;
                  top: 50%;
                  right: 25px;
              }
              }
              .slick-prev {
                left: -25px; }
                [dir="rtl"] .slick-prev {
                  left: auto;
                  right: -25px; }
                .slick-prev:before {
                  content: ""; }
                  [dir="rtl"] .slick-prev:before {
                    content: ""; }

              .slick-next {
                right: -25px; }
                [dir="rtl"] .slick-next {
                  left: -25px;
                  right: auto; }
                .slick-next:before {
                  content: ""; }
                  [dir="rtl"] .slick-next:before {
                    content: ""; }

              / Dots /
              .slick-dotted.slick-slider {
                margin-bottom: 30px; }

              .slick-dots {
                list-style: none;
                display: block;
                text-align: center;
                padding: 0;
                margin: 0; }
                .slick-dots li {
                  position: relative;
                  display: inline-block;
                  height: 20px;
                  width: 20px;
                  margin: 0 5px;
                  padding: 0;
                  cursor: pointer; }
                  .slick-dots li button, .slick-dots li a {
                    border: 0;
                    background: transparent;
                    display: block;
                    height: 20px;
                    width: 20px;
                    line-height: 0px;
                    font-size: 0px;
                    color: transparent;
                    padding: 5px;
                    cursor: pointer; }
                    .slick-dots li button:hover:before, .slick-dots li button:focus:before, .slick-dots li a:hover:before, .slick-dots li a:focus:before {
                      opacity: 1; }
                    .slick-dots li button:before, .slick-dots li a:before {
                      position: absolute;
                      top: 0;
                      left: 0;
                      content: "•";
                      width: 20px;
                      height: 20px;
                      font-family: "slick-icons, sans-serif";
                      font-size: 6px;
                      line-height: 20px;
                      text-align: center;
                      color: #fff;
                      opacity: 0.25;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale; }
                  .slick-dots li.slick-active button:before {
                    color: #fff;
                    opacity: 0.75; }
                    .slick-list.draggable {
                      height: 526px;
                  }
                  .container016{
                    max-width: 1600px;
                  }
                  .video-slider{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  video.bgv {
                       border-radius: 10px 10px 0 0;
                }
              figcaption {
                align-items: center;
                background: #eaeaea;

                grid-gap: 1rem;
                grid-template-columns: 50px auto min(115px);
                padding: .5rem;
              }

              button {
                border: 0;
                background: #e52e71;
                display: inline;
                color: white;
                order: 1;
                padding: .5rem;
                transition: opacity .25s ease-out;
                width: 100%;
              }
              button:hover {
                cursor: pointer;
                opacity: .8;
              }
              figure {
               width: 100%;
              }

              video {
                display: block;
                width: 100%;
              }

              figcaption {
                align-items: center;
                background: transparent;
                height: 0;
                padding: 0;
              }
{% endstylesheet %}

{% javascript %}
    $('.videoslid').slick({
        arrows: false,
    dots: false,
    infinite: false,
    speed: 300,
    slidesToShow: 6,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 5,
          slidesToScroll: 1,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ]
  });
{% endjavascript %}
